import React, {PureComponent} from 'react';
import { connect } from 'react-redux';
import { count } from './actions/counterAction.ejs';
<% if (withStyledComponents) { %>
    import StyledCounter from './StyledCounter.ejs';
<% } %>
import './Counter.styles.css';

class CounterContainer extends PureComponent {
    onClick = () => {
        this.props.count(this.props.currentCount);
    };

    render() {
        const { currentCount } = this.props;
        return (
            <StyledCounter primary>
                <div>Container counter</div>
                <div>
                    <p>You clicked {currentCount} times</p>
                    <button onClick={this.onClick}>
                        Click me
                    </button>
                </div>
                <div>Component counter</div>
            </StyledCounter>
        );
    }
}

const mapDispatchToProps = dispatch => ({
    count: (currentCount) => dispatch(count(currentCount))
});

const mapStateToProps = state => ({
    currentCount: state.count.currentCount,
});

export default connect(mapStateToProps, mapDispatchToProps)(CounterContainer);
